video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* GRID si es soportado */

@supports (display:grid) {
  main .grid {
    display: grid;
    /* Licencia de la foto CC BY-NC 2.0 anyjazz65 */
    background-image: url(../imagenes/woman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color-secundario);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-auto-rows: 1fr;
    /* Grid Generado con: https://grid.layoutit.com/ */
    grid-template-areas:
      ". . . fila0-34 fila0-34 . . ."
      ". . fila1-24 fila1-24 fila1-24 fila1-56 fila1-56 ."
      ". . fila2-2 fila2-3 . . . ."
      ". . fila3-23 fila3-23 fila3-34 fila3-34 . ."
      ". . . fila4-3 . . . ."
      ". fila5-13 fila5-13 fila5-13 fila5-4 fila5-56 fila5-56 ."
      ". . fila6-2 . . fila6-56 fila6-56 ."
      ". . . . fila7-4 fila7-56 fila7-56 ."
      ". . . fila8-34 fila8-34 fila8-56 fila8-56 ."
      ". . fila9-23 fila9-23 . fila9-56 fila9-56 ."
      ". . . . . . . ."
    ;
    /**/

    color: #fff;
    padding: 10px;

  }

}

/* Todos los cuadrados del grid */
main .grid div {
  /* Se establece el color que tapará la foto */
  background-color: var(--color-primario);
  outline-style: solid;
  /* Se pone el mismo color que tapa la foto al espacio entre cuadrados */
  outline-color: var(--color-primario);
  outline-width: 1vw;

}

/* A continuacion van los caudrados especiales. Estos son los que no están tapando la foto y los que contienen transiciones */
#fila0-34 {
  grid-area: fila0-34;
  background-color: var(--color-primario);
  transition: all 1.5s ease-in;
}

#fila0-34:hover {
  background-color: transparent;
}

#fila1-24 {
  grid-area: fila1-24;
  background-color: transparent;
}

#fila1-56 {
  grid-area: fila1-56;
  transition: all 1.5s linear;
}

#fila1-56:hover {
  transform: translateX(-160%);
}

#fila2-2 {
  grid-area: fila2-2;
  background-color: transparent;
}

#fila2-3 {
  grid-area: fila2-3;
  font-size: x-large;
  font-weight: bolder;
  transition: all 1.5s ease-out;
}

#fila2-3:hover {
  transform: translateX(160%);
}


#fila3-23 {
  grid-area: fila3-23;
  font-size: x-large;
  font-weight: bolder;
  transition: all 1.5s ease;
}

#fila3-23:hover {
  transform: translateX(-100%);
}

#fila3-34 {
  grid-area: fila3-34;
  background-color: transparent;
}

#fila4-3 {
  grid-area: fila4-3;
  background-color: transparent;
  height: 100px;
}

#fila5-13 {
  grid-area: fila5-13;
  background-color: transparent;
}

#fila5-4 {
  grid-area: fila5-4;
  background-color: transparent;
}

#fila5-56 {
  grid-area: fila5-56;
  transition: all 1.5s ease-in-out;
}

#fila5-56:hover {
  transform: translateX(-100%);
}

#fila6-2 {
  grid-area: fila6-2;
  background-color: transparent;
}

#fila6-56 {
  grid-area: fila6-56;
  transition: all 1.5s cubic-bezier(0, 1, .98, 0);
}

#fila6-56:hover {
  transform: translateX(-100%);
}

#fila7-4 {
  grid-area: fila7-4;
  background-color: transparent;
}

#fila7-56 {
  grid-area: fila7-56;
  background-color: transparent;
  height: 100px;
}

#fila8-34 {
  grid-area: fila8-34;
  background-color: transparent;
}

#fila8-56 {
  grid-area: fila8-56;
  transition: all 2.5s ease-in-out;
}

#fila8-56:hover {
  transform: translateX(-100%);
}

#fila9-23 {
  grid-area: fila9-23;
  background-color: transparent;
}

#fila9-56 {
  grid-area: fila9-56;
  transition: all 2.5s ease-out;
}

#fila9-56:hover {
  transform: translateX(-100%);
}


/* A continuación animaciones en vez de transiciones. Utilizado animista para generar */
.logo {
  -webkit-animation: rotate-center 0.6s 2s infinite both;
  animation: rotate-center 0.6s 2s infinite both;
}

.titulo {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-24 20:25:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-4-24 20:28:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}